body {
  font-family: 'Open Sans', sans-serif;

  background-color: #f5f9fc;
  padding-top: 100px;

  padding: 50px;

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-weight: 300;
  }
  .nav {
    display: inline;
    margin: 0%;
    padding: 0%;
  }
  .nav-btn {
    display: inherit;
    border: none;
    border: 0.5px solid rgb(175, 224, 255);
    outline: none;
    justify-content: flex-end;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0%;
    margin-top: 1%;
    margin-left: 0px;
    margin-right: 10px;
    background: rgb(216, 240, 255);
    font-size: 11px;
    color: #20455e;
    border-radius: 4px;
  }
  .results {
    color: #7a92a5;
    font-size: 12px;
    margin: 12px 5px;
  }
  .restore-btn {
    /* should be placed with title {same line} */
    font-size: 12px;
    font-style: italic;
    border: none;
    outline: none;
    background: none;
    color: #3366bb;
    display: contents;
  }
  header {
    width: 100%;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px 20px;
    position: relative;

    input {
      width: 100%;
      text-overflow: ellipsis;
      display: inline-block;
      color: #20455e;
      font-size: 14px;
      outline: 0;
      transition: border 0.1s ease;
      resize: none;
      border: 1px solid #b6c1cd;
      border: none;

      &::placeholder {
        color: #b6c1cd;
      }
    }
  }

  a {
    color: #3899ec;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
  }

  .tickets {
    margin: 0;
    padding: 0;

    .ticket {
      width: 100%;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 6px 1px #e1e5e8;
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;
      border: 1px solid #fff;
      padding: 10px 20px;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;

      &:hover {
        box-shadow: 0 2px 6px 1px #d3d7da;
        .hide-btn {
          color: #20455e; // On hover, color is changing. IDK if it is a best practice but it works.
        }
      }

      .title {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        color: #20455e;
        margin-top: 0px;
      }
      .content {
        margin: 0px 0;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        color: #7a92a5;
      }
      .hide-btn-container {
        position: relative;
        float: right;
        top: 2px;
      }
      .hide-btn {
        display: absolute;
        outline: none;
        font-size: 12px;
        border: none;
        background: none;
        color: #fff;
        width: fit-content;
        right: 10px;
        float: right;
      }
      .collapseButton {
        border: none;
        outline: none;
        background: none;
        color: #3366bb;
      }
      .labels {
        display: inherit;
        justify-content: flex-end;
        .label {
          display: inherit;
          border: none;
          border: 0.5px solid rgb(175, 224, 255);
          outline: none;
          justify-content: flex-end;
          padding-left: 3%;
          padding-right: 3%;
          margin: 0%;
          margin-top: 1%;
          margin-left: 2px;
          margin-right: 2px;
          background: rgb(216, 240, 255);
          font-size: 11px;
          color: #20455e;
          border-radius: 4px;
        }
      }
      footer {
        display: flex;
        justify-content: space-between;

        .meta-data {
          color: #7a92a5;
          font-size: 12px;
          margin: 10px 0;
          flex-shrink: 0;
        }
      }
    }
  }
}
